<body>
    

<br>
<div id="cards">
    <h2 class="text-center">Users in the database</h2>
    <br>
        <form class="form-inline justify-content-center">
            <div class="form-group">
                <input [(ngModel)]="search" name="search" class="form-control-lg" type="search" placeholder="Search by username" aria-label="Search">
            </div>
        </form>
    <hr>
    <div class="card myWidth text-white bg-secondary" *ngFor="let user of users | search:search">
        <div class="card-body">
            <h5 class="card-title">{{user.name}} | {{user.username}}</h5>
            <h6 class="card-subtitle">{{user.email}}</h6>
            <p class="card-text">{{user.role}}</p>
        </div>
    </div>
</div>

</body>