
#cards{
    margin: 0.5rem;
}
.myWidth{
    width: 19rem;
    display: inline-block;
    margin: 1.25rem;
}

input{
    width: 19rem;
}

body{
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}