
<div id="body" class="text-center" [@fadeIn]>
    <form class="form-signin" #updateUser="ngForm" (ngSubmit)="onSubmit()">
        <div class="alert alert-danger" role="alert"  *ngIf="status == false">
            Message: {{message}}
          </div>
          <div class="alert alert-success" role="alert" *ngIf="status == true">
            Message: {{message}}
          </div>
          <h1>Your Account</h1>
          <img *ngIf="user.image && user.image != 'null'" class="mb-4" src="{{uri +'getImage/'+user.image}}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Update your account here</h1>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input [(ngModel)]="user.name" name="name" #name="ngModel" class="form-control" ype="text" id="inputName" placeholder="your name" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputUsername">Username</label>
                <input [(ngModel)]="user.username" name="username" #username="ngModel" class="form-control" type="text" id="inputUsername" placeholder="username" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastname">Lastname</label>
                <input [(ngModel)]="user.lastname" name="lastname" class="form-control" type="text" id="inputLastname" placeholder="lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input [(ngModel)]="user.email" name="email" #email="ngModel" class="form-control" type="email" id="inputEmail" placeholder="email" required>

        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="checkbox" required>
                <label class="form-check-label" for="gridCheck">
                    I accept the terms and conditions
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-success col-lg-3 mx-2" [disabled]="!updateUser.form.valid">
            Update
        </button>
        <button type="button" class="btn btn-danger col-lg-3 mx-2" data-target="#exampleModal" data-toggle="modal">
            Delete Account
        </button>
        <button type="button" class="btn btn-primary col-lg-3 mx-2" data-target="#myModal" data-toggle="modal">
          Upload image
        </button>
    </form>

    <!-- MODAL PARA ELIMINAR CUENTA DE USUARIO-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Danger Zone!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span class="mt-5 mb-3 text-muted">Are you shure to delte your account?</span>
              <h3>This action is irreversible!</h3>
              <span>Enter your password to continue</span>
              <form #formRemove="ngForm">
                  <label for="passwordRemoved"></label>
                  <input [(ngModel)]="possiblePass" type="password" id="passwordRemoved" name="passworRemoved" required>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" data-dismiss="modal" class="btn btn-danger" [disabled]="!formRemove.form.valid" (click)="deleteAccount()">I'm sure</button>
            </div>
          </div>
        </div>
      </div>

      <!--Modal para imagen-->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">User image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
             <div class="modal-body">
              <h3>Upload your image</h3>
              <form #formImage="ngForm">
                <label for="imageInput"></label>
                <input type="file" name="image" id="imageInput" (change)="fileChange($event)">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" data-dismiss="modal" class="btn btn-primary" [disabled]="!formImage.form.valid" (click)="uploadImage()">Upload Image</button>
            </div>
          </div>
        </div>
      </div>
</div>